.container {
	margin-left: auto;
	margin-right: auto;
}

input, select, textarea {
	color: #888;
	font-family: inherit;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-bottom: solid 1px #e4e4e4;
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
	color: #4acaa8 !important;
	border-bottom: solid 1px #4acaa8;
}

strong, b {
	color: #777;
	font-weight: 700;
}

em, i {
	font-style: italic;
}
